@charset "UTF-8";

	/* * */

	* {
      	margin: 0;
        box-sizing: border-box;
       }

 	button {
          outline: none;
          background-color: transparent;
          border: none;
          cursor: pointer;
      }
      
	a {
		border: none;
		color: black;
		text-decoration: none;
	}
	
	ul {
		list-style: none;
	}
	
	/* header */
	
      .head {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
      }
      
      .head__logo img{
          width: 250px;
          height: 200px;
      }

      .head__teamlist {
          background-color: rgb(55,0,60);
          padding: 18px;
          border-radius: 30px;
      }
      .head__teamlist a img {
          width: 40px;
          height: 40px;
          margin-right: 16px;
          transition: all 300ms ease-in;
      }
      
      .head__teamlist a img:hover {
      	transform: scale(1.1);
      }
      
     
      
      .head__userPage {
      	display:flex;
      	justify-content: flex-end;
      	align-items: center;
      	margin-right: 32px;
      	margin-top: 32px;
      	font-size: 24px;
      }
      
      .head__userPage a img {
      	margin-left: 16px;
      	width: 40px;
      	height: 40px;
      }
      
      .head__userPage .head__loginBtn {
      	margin-right: 16px;
      }
      
      .head__userPage .head__logoutBtn {
      	margin: 0 16px;
      }
      
     @media screen and (max-width: 1600px) {
     		
     		.head__logo img {
     			width: 200px;
     			height: 150px;
     		}
     
			.head__teamlist img {
				width: 30px;
				height: 30px;
				}
      }
      
      @media screen and (max-width: 800px) {
      	.head__teamlist {
      		display:none;
      	}
      }
       
       /* main page */
       
       .sidenav {
           height: 55%; 
           width: 220px;
           position: fixed; 
           z-index: 1;
           top: 200px; 
           left: 0;
           background-color: rgb(55,0,60);
           overflow-x: hidden;
           padding-top: 20px;
           border-radius: 8px;
           margin-left: 4px;
           margin-top: 16px;
           overflow: hidden;
       }

       .sidenav .sidenav__text {
           /* margin-top: 50%; */
           margin-bottom: 32px;
           text-align: center;
           color: white;
       }

		.sidenav .sidenav__match {
			color:white;
			text-align: center;
		}
		
		.sidenav .sidenav__match-date {
			margin-bottom: 8px;
			color:white;
			text-align: center;
		}
	
	/* team main */
     .main {
       	   text-align: center;
           margin-left: 220px; 
           margin-top: 36px;
           top: 200px;
           min-height: 70vh;
           
       }

	.main__title {
		margin-bottom: 16px;
	}
	
       .main table {
       	margin: auto;
           border-collapse: collapse;
           text-align: center;
           width: 1000px;
       }

       .main table th,td {
           border: 1px solid gray;
       }
       

       .table__divide {
       	margin: auto;
           max-height: 400px;
           overflow-y: scroll;
           overflow-x: hidden;
           width: 1000px;
       }
       
 		.table__divide::-webkit-scrollbar {
   			width: 10px;
 		}
 		
	  	.table__divide::-webkit-scrollbar-thumb {
	    	background-color: purple;
	  	}
	  	
	  	.table__divide::-webkit-scrollbar-track {
	    	background-color: grey;
	  	}
	  	
       .main table .teamname {
          	display: flex;
          	align-items: center;
          	justify-content: flex-start;
       }
	
       .main table img {
           margin-right: 16px;
           margin-left: 8px;
           width: 30px;
           height: 30px;
       } 

	
	@media screen and (max-width: 1600px) {
		
		.main table {
			width: 850px;
		}
		
		.table__divide {
			width: 850px;
			max-height: 400px;
		}
		
		}
		
	@media screen and (max-width: 1200px) {
		.sidenav {
			display: none;
		}
			
    	.main {
        	text-align: center;
            margin-left: 0px; 
            margin-top: 36px;
            top: 200px;
           
      	}
      		 
      	.head__teamlist {
      		margin-right: 16px;
      	}
	}
	
	@media screen and (max-width: 1000px) {
		

		.main table {
			width: 600px;
		}
		
		.main table .teamname span {
			display: none;	
		}
		
		.main table .teamname {
			justify-content: center;	
		}
		
		.table__divide {
			width: 600px;
			max-height: 300px;
		}
		
	}
	
	
	@media screen and (max-width: 800px) {
	
		.sidenav {
			display: none;
		}
		
		.main {
        	text-align: center;
            margin-left: 0px; 
            margin-top: 36px;
            top: 200px;
           
      		 }
		
		.main table {
			width: 400px;
		}
		
		.table__divide {
			width: 400px;
			max-height: 300px;
			}
		}
       
       
       /* team detail */


	    .teamDetail__title {
			display: flex;
			justify-content: center;
			margin-top: 16px;
		}
	
		.teamDetail__title img {
			margin-right: 16px;
		}
		
		.teamDetail__selectBtn {
			text-align: center;
			padding-top: 32px;
			margin-bottom: 32px;
			
		}
		
		hr {
			margin-top: 32px ;
		}
		
		.teamDetail__selectBtn button {
			font-size: 24px;
			transition: all 300ms ease-in;
			color: white;
		}
		
		.teamDetail__selectBtn button:hover {
			transform: scale(1.1);
			color: gray;
		}
		
		/* team detail main */
		
		.teamDetail__main {
			text-align: left;
			margin-left: 36px;
			margin-top: 48px;
		}
	
		.teamDetail__main ul li {
			margin-bottom: 16px;
		}
		
		.managerInfo {
			display: flex;
			align-items: flex-end;
		}
		
		.managerInfo img {
			width: 250px;
			height: 250px;
			margin-right: 8px;
		}
		
		.teamSite {
			transition: all 300ms ease-in;
		}
		
		.teamSite:hover {
			color: red;
		}
		
		
		/* stadium */
		
		.teamDetail__stadium {
			text-align: left;
			margin-left: 36px;
			margin-top: 48px;
		}
		
		.teamDetail__stadium img {
			width: 600px;
			height: 400px;
			margin-bottom: 16px;
		}
		
		.teamDetail__stadium ul li {
			margin-bottom: 16px;
		}
		
		.hidden {
			display: none;
		}
		
		
		.teamDetail__main, .teamDetail__player, .teamDetail__stadium {
			min-height: 40vh;
		}
		
	
		
		/* team player */
		
		.teamDetail__player {
			margin-top: 48px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		.teamDetail__player__li {
			margin-bottom: 32px;
		}
		
		.teamDetail__player__li h3  {
			margin-bottom: 2px;
		}
		
		.teamDetail__player__position {
			margin-bottom: 32px;
		}
		
		.teamDetail__player__hr {
			margin-bottom: 32px;
		}
		
		.gk .teamDetail__player__position {
			color: black;
		}
		
		.df .teamDetail__player__position {
			color: black;
		}
		
		.mf .teamDetail__player__position {
			color: black;
		}
		
		.fw .teamDetail__player__position {
			color: black;
		}
		
		.gk, .df, .mf, .fw {
			border: 2px solid black;
			border-radius: 4px;
			padding: 24px;
		}
		
		.gk, .df, .mf {
			margin-right: 16px;
			margin-bottom: 16px;
		}
		
		/* team article */
		
		.team__article {
			margin-top: 24px;
		}
		
		.team__article .article {
			display: flex;
		}
		
		.team__article .article__li {
			margin-bottom: 24px;
		}
		
		.team__article .article img {
			margin-right: 16px;
			margin-bottom: 4px;
		}
		
		.team__article .article__meta .article__title {
			margin-bottom: 8px;
		}
		
		/* form */
		
		form {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 32px;
		}
		
		input, select {
			width: 200px;
			height: 40px;
			padding: 4px 16px;
			margin-bottom: 32px;
		}
		
		label {
			font-size: 12px;
			color: #606060;
		}
		
		input[type="submit"] {
			border: 2px solid black;
			background-color: black;
			color: white;
		}
		
		.errorMessage {
			margin-top: 32px;
			text-align: center;
			font-size: 24px;
			color: #606060;
		}
		
		/* my team */
		
		.myteam {
			text-align: center;
			border : 2px solid black;
			max-width: 70%;
			margin: 0 auto;
			margin-top: 48px;
			padding: 16px 0;
		}
		
		.myteam__title {
			display:flex;
			justify-content: center;
			align-items: center;
			margin-top: 16px; 
			color: white;
			padding: 16px 0;
			margin-top: 16px;
		}
		
		.myteam__title img {
			margin-right: 4px;
		}
		
		.myteam .myteam__matchNumber {
			margin-bottom: 4px;
		}
		
		.myteam .myteam__scheduled span{
			font-size: 24px;
			color: purple;
		}
		
		.myteam .myteam__scheduled-home, .myteam__scheduled-away {
			margin: 4px 0;
		}
		
		.myteam .myteam__gameInfo {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		
		.myteam .myteam__gameInfo .myteam__homeTeam {
			margin-right: 8px; 
		}
		
		.myteam .myteam__gameInfo .myteam__awayTeamScore {
			margin: 0 8px;
		} 
		
		.myteam .myteam__win, .myteam__draw, .myteam__lost {
			font-size: 24px;
		}
		
		.myteam .myteam__win {
			color: red;
		}
		
		.myteam .myteam__lost {
			color: blue;
		}
		
		.myteam .myteam__draw {
			color: green;
		}
	       